@import "../_vars/vars";

body,
html {
    margin: 0;
    padding: 0;
}

.loginPage_dash {
    background-image: url("/dashboard/background/bck.png");
    height: calc(100vh - 101px);
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: clamp(20rem, 18.981vw + 15.729rem, 32.813rem);

        h1 {
            color: #325E5F;
            font-size: clamp(2.375rem, 0.926vw + 2.167rem, 3rem);
            font-weight: 700;
            text-align: center;
        }

        form {
            background: $blue_green_color;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: $login_radius;
            padding: 30px 0px;
        }
    }
}

@import "../_components/footer.dash";