body,
html {
    margin: 0;
    padding: 0;
}

.loginPage_dash {
    background-image: url("/dashboard/background/bck.png");
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 525px;

        h1 {
            color: #325E5F;
            font-size: 48px;
            font-weight: 700;
            text-align: center
        }

        form {
            background: #325E5F;
            width: 100%;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
        }
    }
}

@import "../_components/footer.dash";