@import "../_vars/vars";

.formInput {
    width: 85%;
    border-radius: $login_radius;
    box-sizing: border-box;
    padding: 15px 20px 13px 20px;
    border: none;
    margin: 10px 0px;
    font-size: 18px;

    &::placeholder {
        color: $placeholderColor;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
}